@import url('https://fonts.googleapis.com/css?family=Roboto');
/* Global Styles */

:root {
	--primary-color: #5f0e9f;
	--secondary-color: #388fc9;
	--dark-color: #333333;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	background-color: #fff;
	color: #333;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	color: #666;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}

/* Utilities */

.flex-row {
	display: flex;
	flex-direction: row;
}

.block {
	display: block !important;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.font-weight-bold {
	font-weight: bold !important;
}

@keyframes spinnerAnim {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.spinner {
	width: 50px;
	margin: auto;
	display: block;
	transition: all 1s ease;
	animation-name: spinnerAnim;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.container {
	max-width: 1600px;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
}

.col-lg {
	max-width: 900px;
}

.col-md {
	max-width: 600px;
}

.col-sm {
	max-width: 300px;
}

/* Text Styles*/

.x-large {
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.large {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

.lead {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.text-center {
	text-align: center;
}

.text-primary {
	color: var(--primary-color);
}

.text-dark {
	color: var(--dark-color);
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

/* Cards */

.card {
	padding: 1rem;
	border: #ccc 1px dotted;
	margin: 0.7rem 0;
}

/* List */

.list {
	margin: 0.5rem 0;
}

.list li {
	padding-bottom: 0.3rem;
}

/* Padding */

.p {
	padding: 0.5rem;
}

.p-1 {
	padding: 1rem;
}

.p-2 {
	padding: 2rem;
}

.p-3 {
	padding: 3rem;
}

.py {
	padding: 0.5rem 0;
}

.py-1 {
	padding: 1rem 0;
}

.py-2 {
	padding: 2rem 0;
}

.py-3 {
	padding: 3rem 0;
}

/* Margin */

.m {
	margin: 0.5rem;
}

.m-1 {
	margin: 1rem;
}

.m-2 {
	margin: 2rem;
}

.m-3 {
	margin: 3rem;
}

.my {
	margin: 0.5rem 0;
}

.my-1 {
	margin: 1rem 0;
}

.my-2 {
	margin: 2rem 0;
}

.my-3 {
	margin: 3rem 0;
}

/* Grid */

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.grid-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.grid-2-3 {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-gap: 2rem;
}

.btn {
	display: inline-block;
	background: var(--light-color);
	color: #333;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
}

.btn-link {
	background: none;
	padding: 0;
	margin: 0;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-sm {
	font-size: 0.8rem;
	padding: 0.3rem 1rem;
	margin-right: 0.2rem;
}

.Friend-Buttons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.btn-add:hover, .btn-remove:hover {
	background-color: #28a745;
	border: 1px solid transparent;
	color: white;
}

.btn-add {
	background-color: transparent;
	border: 1px solid #28a745;
	height: 2.2em;
	margin: 5px;
	color: #28a745;
	font-weight: bold;
	transition: all 0.2s ease;
	flex: 1 0 45%;
}

.btn-remove {
	background-color: transparent;
	border: 1px solid #28a745;
	height: 2.2em;
	margin: 5px;
	color: #28a745;
	font-weight: bold;
	transition: all 0.2s ease;
	flex: 1 0 45%;
}

.btn-blok:hover {
	background-color: rgb(202, 36, 36);
	color: white;
}

.btn-blok {
	border: 1px solid rgb(202, 36, 36);
	color: rgb(202, 36, 36);
	background-color: transparent;
	height: 2.2em;
	margin: 5px;
	transition: all 0.2s ease;
	flex: 1 0 15%;
}

.btn-message {
	width: 100%;
	color: white;
	background-color: var(--secondary-color);
	height: 2.2em;
	margin: 5px;
	transition: all 0.2s ease;
}

.btn-pending:hover {
	opacity: 1;
}

.btn-pending {
	background-color: transparent;
	border: 1px solid #28a745;
	height: 2.2em;
	margin: 5px;
	color: #28a745;
	font-weight: bold;
}

.badge {
	font-size: 0.8rem;
	padding: 0.2rem 0.7rem;
	text-align: center;
	margin: 0.3rem;
	background: var(--light-color);
	color: #333;
	border-radius: 5px;
}

.alert {
	padding: 0.7rem;
	margin: 1rem 0;
	opacity: 0.9;
	background: var(--light-color);
	color: #333;
}

.btn-primary, .bg-primary, .badge-primary, .alert-primary {
	background: var(--primary-color);
	color: #fff;
}

.btn-light, .bg-light, .badge-light, .alert-light {
	background: var(--light-color);
	color: #333;
}

.btn-dark, .bg-dark, .badge-dark, .alert-dark {
	background: var(--dark-color);
	color: #fff;
}

.btn-danger, .bg-danger, .badge-danger, .alert-danger {
	background: var(--danger-color);
	color: #fff;
}

.btn-success, .bg-success, .badge-success, .alert-success {
	background: var(--success-color);
	color: #fff;
}

.btn-white, .bg-white, .badge-white, .alert-white {
	background: #fff;
	color: #333;
	border: #ccc solid 1px;
}

.btn:hover {
	opacity: 0.8;
}

.bg-light, .badge-light {
	border: #ccc solid 1px;
}

.round-img {
	border-radius: 50%;
}

/* Forms */

input {
	margin: 1.2rem 0;
}

.form-text {
	display: block;
	margin-top: 0.3rem;
	color: #888;
}

input[type='text'], input[type='email'], input[type='password'], input[type='date'], select, textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.2rem;
	border: 1px solid #ccc;
	font-family: 'roboto', sans-serif;
}

input[type='submit'], button {
	font: inherit;
}

.form-group {
	margin: 1.2rem 0;
}

.form-group input {
	margin: 0.2rem 0;
}

.field-active {
	transform: translateY(-35px);
}

.form-container {
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	max-width: 500px;
	margin: 2rem auto;
	overflow: hidden;
	padding: 25px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	box-shadow: 0px 4px 3px rgba(50, 50, 50, 0.3);
}

.form-container label {
	display: inline-block;
	position: relative;
	left: 15px;
	top: 35px;
	transition: all 0.2s ease;
}

.form-container input:focus {
	background-color: rgba(255, 255, 255, 0.2);
}

.form-container input:invalid {
	box-shadow: none;
}

.form-container input {
	border-radius: 5px;
	transition: all 0.2s ease;
	color: white;
	border: 0;
	background-color: transparent;
	border-bottom: solid 1px #eee;
	border-width: 2px;
}

.form-container button {
	transition: all 0.5s ease;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 2px;
	font-size: 20px;
}

.form-container button:hover {
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid white;
	border-radius: 2px;
}

.form-container h1, .form-container h2, .form-container h3 {
	text-align: center;
}

table th, table td {
	padding: 1rem;
	text-align: left;
}

table th {
	background: var(--light-color);
}

/* Navbar */

.navbar {
	/* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
	background-color: #764ba2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 2rem;
	z-index: 1;
	width: 100%;
	margin-bottom: 1rem;
	max-height: 50px;
}

.navbar ul {
	display: flex;
	justify-content: space-around;
	font-size: 18px;
	font-weight: bold;
	line-height: 50px;
}

.navbar ul li {
	margin: 0 15px 0 15px;
}

.navbar>ul>li>a:hover {
	border-bottom: 2px solid white;
}

.navbar a {
	color: #fff;
	padding: 0.45rem;
	margin: 0 0.25rem;
}

.navbar .welcome span {
	margin-right: 0.6rem;
}

/* Animation (Add After) */

.item-enter {
	opacity: 0;
}

.item-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.item-exit {
	opacity: 1;
}

.item-exit-active {
	opacity: 0;
	transition: opacity 500ms ease-in;
}

@keyframes notifAnim {
	0% {
		border: 1px solid red;
	}
	50% {
		border: 1px solid white;
	}
	100% {
		border: 1px solid red;
	}
}

.Notifications:hover {
	color: white;
}

.Notifications {
	width: 36px;
	color: #f0f0f0;
	text-align: center;
	cursor: pointer;
}

.Notifications-Tray {
	width: 300px;
	position: absolute;
	background-color: #764ba2;
	display: flex;
	justify-content: flex-start !important;
}

.Notifications-Item {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 16px;
	font-weight: normal;
}

.Notifications-Accept {
	color: rgb(69, 196, 69);
	margin: 0px 10px 0px 10px;
}

.Notifications-Decline {
	color: red;
	margin: 0px 10px 0px 10px;
}

.Notifications-FR-Name {
	flex: 2 0 50%;
	text-align: left;
	margin: 0px 10px 0px 10px;
}

.Notifications-Count {
	position: relative;
	display: inline-block;
	top: -6px;
	left: -6px;
	width: 12px;
	height: 12px;
	font-size: 14px;
	background-color: red;
	border-radius: 50%;
	animation-name: notifAnim;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.Section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Section-List-Item:hover {
	background-color: rgb(250, 250, 250);
	border-left: 5px solid #aa69e0;
}

.Section-List-Item {
	padding: 5px;
	margin: 5px 0px 5px 0px;
	background-color: transparent;
	border-left: 5px solid #69b1e0;
	/* box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.2); */
	transition: all 0.2s ease;
}

.Head-Line {
	text-align: center;
	display: block;
	background-color: transparent;
	border-left: 5px solid #69b1e0;
	border-right: 5px solid #69b1e0;
	box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.05);
	color: rgb(37, 37, 37);
	padding: 5px;
	margin-bottom: 5px;
	font-size: 1.8em;
	font-weight: bold;
}

.Sub-btn {
	display: inline-block;
	color: rgb(67, 27, 112);
	padding: 0.2rem 1rem;
	font-size: 1rem;
	border: 1px solid var(--primary-color);
	cursor: pointer;
	margin-right: 0.5rem;
	transition: all 0.2s ease-in;
	outline: none;
}

.Sub-btn:hover {
	opacity: 0.8;
}

.Edit-Btn:hover, .Delete-Btn:hover {
	color: var(--primary-color);
}

.Edit-Btn, .Delete-Btn {
	display: inline-block;
	font-size: 0.7em;
	font-weight: normal;
	cursor: pointer;
	transition: all 0.2s ease;
}

.Edit-Btn {
	margin: 0px 5px 0px 25px;
}

.Delete-Btn {
	margin: 0px 5px 0px 15px;
}

.btn-outline-success {
	transition: all 0.2s ease-in-out;
	background-color: transparent;
	color: var(--success-color);
	border: 1px solid var(--success-color);
}

.btn-outline-success:hover {
	background-color: var(--success-color);
	color: white;
	border: 1px solid transparent;
}

.btn-outline-primary {
	transition: all 0.2s ease-in-out;
	background-color: transparent;
	color: rgb(67, 27, 112);
	border: 1px solid var(--primary-color);
}

.btn-outline-primary:hover {
	background-color: var(--primary-color);
	color: white;
	border: 1px solid transparent;
}

.subscribed:hover {
	background-color: #dc3545;
	color: white;
	opacity: 1 !important;
	border: 1px solid #dc3545;
	box-shadow: 1px 2px 3px rgba(55, 55, 55, 0.3);
}

.unsubscribed:hover {
	box-shadow: 1px 2px 3px rgba(55, 55, 55, 0.3);
}

.unsubscribed {
	background-color: var(--success-color);
	color: white;
	border: 1px solid var(--success-color);
}

.poster-tag {
	margin: 0px 5px 0px 5px;
	font-size: 14px !important;
	color: #666;
	font-weight: normal;
}

.Home-Page {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.Feed {
	margin: 10px;
	padding: 15px;
	flex: 2 0 40%;
	display: flex;
	flex-direction: column;
	background-color: #388fc9;
	color: white;
	box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.3);
}

.Feed>ul>li:hover {
	background-color: #adddf0 !important;
}

.Feed>ul>li {
	padding: 5px 5px 5px 15px;
	height: 45px;
	line-height: 35px;
	color: #555;
	background-color: white;
}

.Feed>ul>li:nth-child(odd) {
	background-color: #f5f5f5;
}

.Friends {
	margin: 10px;
	flex: 1 0 10%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	background-color: #388fc9;
	color: white;
	box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.3);
}

.Friends>ul>li {
	padding: 5px 5px 5px 15px;
	height: 45px;
	line-height: 35px;
	color: #555;
	background-color: white;
}

.poster-name:hover {
	color: var(--primary-color);
}

.poster-name {
	font-size: 16px !important;
	color: #666;
	transition: all 0.2s ease;
}

.poster-date {
	margin-left: 5px;
	font-size: 14px !important;
	color: #666 !important;
	font-weight: normal;
}

.Post-Page-Title {
	flex: 1 0 45%;
}

.Post-Page-Head {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.Post-Page-Body {
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-items: flex-start;
	align-items: flex-start;
	flex-grow: 2;
}

.Post-Page-Comments-List {
	display: flex;
	width: 100%;
	flex-direction: column;
	margin-top: 50px;
}

.Post-Comment {
	padding: 15px;
	width: 100%;
	box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.1);
	margin: 5px 0 5px 0;
}

.Post-List-Item-Expanded {
	display: flex;
	flex-direction: row;
	min-height: 250px;
}

.Post-List-Item {
	display: flex;
	flex-direction: row;
}

.Post-List-Item h2 {
	text-align: left !important;
}

.Post-List-Item i, .Post-List-Item-Expanded i {
	position: relative;
	left: -32px;
	transition: all 0.3s ease;
}

.Post-List-Item-Icon {
	transition: all 0.3s ease;
	color: var(--primary-color);
}

.Post-List-Item-Icon-Active {
	transition: all 0.3s ease;
	transform: rotate(90deg);
}

.Post-List {
	margin-top: 50px;
	text-align: left !important;
	width: 90%;
}

.Post-List>li>h3 {
	text-align: left !important;
}

.Post-List>li {
	margin: 5px;
	padding: 5px;
	border-bottom: 2px solid #eee;
	text-align: left;
	box-shadow: 0px 3px 5px rgba(55, 55, 55, 0.1);
	background-color: transparent;
	transition: all 0.2s ease;
}

.Post-Title {
	flex: 1 0 45%;
}

.Post-Title-Link:hover {
	opacity: 0.8;
}

.Post-Title-Link {
	cursor: pointer;
	transition: all 0.2s ease;
	color: var(--primary-color);
}

.Post-Buttons i {
	position: inherit !important;
}

.Post-Buttons {
	display: flex;
	font-size: 1.3em;
	flex: 2 0 50%;
	justify-content: flex-end;
	align-items: center;
}

.Post-Head {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.Post-Body {
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-items: flex-start;
	align-items: flex-start;
	flex-grow: 2;
}

.Post-Comments-List {
	display: flex;
	width: 100%;
	flex-direction: column;
	margin-top: 50px;
}

.Post-Comments-List>li {
	display: flex;
	width: 100%;
	border-bottom: 1px solid rgb(240, 240, 240);
	margin: 5px 0 5px 0;
}

.Create-Post>form {
	font-size: 20px;
}

.Create-Post {
	margin: auto;
	max-width: 600px;
}

.Profile-Bio {
	width: 75%;
	border-top: 1px solid #eee;
	font-size: 1.2em;
}

.Profile-Info {
	flex: 1 0 25%;
}

.Profile-Main {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: flex-start;
	flex-wrap: wrap;
}

.Profile-Form>input, textarea {
	font-size: 16px;
}

.Profile-Form>textarea {
	min-height: 200px;
	margin-bottom: 30px;
}

.Profile-Form>label {
	font-weight: bold;
}

.Profile-Form {
	min-width: 50%;
	font-size: 18px;
}

.Current {
	background-color: #f0f0f0;
}

.Conversation-List-Item:hover {
	background-color: var(--secondary-color);
	color: white;
}

.Conversation-List-Item {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	width: 350px;
	transition: all 0.1s ease;
}

/* 
.Conversation-List-Item>img, .Conversation-List-Item>div>h3 {
	flex: 1 0 45%;
	margin: 2px;
} */

.Conversation-List-Img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	margin-right: 10px;
}

.Message-Header {
	display: flex;
	flex-direction: row;
	margin: 0px 0px 10px 0px;
	padding-bottom: 5px;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid #e0e0e0;
}

.Message-Header>h3 {
	margin-left: 15px;
}

.Messages-Container {
	display: flex;
	flex-direction: row;
}

.Messages-List {
	width: 75%;
	margin: auto;
	padding: 15px;
	background-color: #f0f0f0;
}

.Messages-List>ul {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
}

.Message-Form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Message-Form>button {
	margin-left: 5px;
}

.Message-User, .Message-Other {
	padding: 5px;
	border-radius: 15px;
}

.Message-User {
	background-color: #388fc9;
	border-top-right-radius: 5px;
	margin-left: auto;
	color: white;
}

.Message-Other {
	margin-right: auto;
	background-color: #ccc;
}

/* Mobile Styles */

@media (max-width: 700px) {
	.hide-sm {
		display: none;
	}
	.grid-2, .grid-3, .grid-4 {
		grid-template-columns: 1fr;
	}
	/* Text Styles */
	.x-large {
		font-size: 3rem;
	}
	.large {
		font-size: 2rem;
	}
	.lead {
		font-size: 1rem;
	}
	/* Navbar */
	.navbar {
		display: block;
		text-align: center;
	}
	.navbar h1 {
		margin-bottom: 0.6rem;
	}
	.navbar ul {
		text-align: center;
		justify-content: center;
	}
}